<footer>
  <div class="footer">
    <div class="footer-services">
      <h3 class="footer-services__title">Nuestos articulos mas populares:</h3>
      <ul class="footer-services__ul">
        <li class="footer-services__ul__li">
          <a href="#" class="footer-services__ul__li__a">Cusco Clasico (4 dias / 3 noches)</a>
        </li>
        <li class="footer-services__ul__li">
          <a href="#" class="footer-services__ul__li__a">Camino inka (2 dia)</a>
        </li>
        <li class="footer-services__ul__li">
          <a href="#" class="footer-services__ul__li__a">Laguna Salcantay (3 dias/2noches)</a>
        </li>
        <li class="footer-services__ul__li">
          <a href="#" class="footer-services__ul__li__a">Camino inka (2 dia)</a>
        </li>
        <li class="footer-services__ul__li">
          <a href="#" class="footer-services__ul__li__a">Laguna Salcantay (3 dias/2noches)</a>
        </li>
        <li class="footer-services__ul__li">
          <a href="#" class="footer-services__ul__li__a">Cusco Clasico (4 dias / 3 noches)</a>
        </li>
        <li class="footer-services__ul__li">
          <a href="#" class="footer-services__ul__li__a">Camino inka (2 dia)</a>
        </li>
      </ul>
    </div>
    <div class="main-footer">
      <div class="main-footer__rs">
        <a href="#" class="main-footer__rs__item">Facebook</a>
        <a href="#" class="main-footer__rs__item">Instagram</a>
        <a href="#" class="main-footer__rs__item">Tripavisor</a>
        <a href="#" class="main-footer__rs__item">Youtube</a>
      </div>
      <div class="main-footer__call">
        <i class="fa fa-phone-square fa-3x main-footer__call__icon" aria-hidden="true"></i>
        <p class="main-footer__call__item">Whatsapp: +51 25874512</p>
        <p class="main-footer__call__item">Whatsapp: +51 258124412</p>
        <p class="main-footer__call__item">Email: peruprivatetours@gmail.com</p>
      </div>
      <div class="main-footer__marca">
        <a href="#" class="main-footer__marca__link">Peru Private Tours</a>
      </div>
    </div>
  </div>
</footer>
