{% load  staticfiles %}
<header>
  <div class="main-mov-header">
    <div id="togle-mov-icon" class="mov-header">
      <i class="fa fa-bars mov-header__icon" aria-hidden="true"></i>
      <a href="/"><img class="mov-header__logo" src="{% static 'img/logo_mov.png' %}" alt="ppt"></a>
      <a href="/" class="mov-header__link">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </a>
    </div>
    <div id="togle-mov-menu-ul" class="mov-header-menu-disable">
      <ul class="mov-menu__ul">
        <li class="mov-menu__ul__li">
          <a href="{% url 'servicio_app:clasic_tours' %}" class="mov-menu__ul__li__a">
            <i class="fa fa-blind mov-menu__ul__li__a__icon color-sexto" aria-hidden="true"></i>
            <span class="mov-menu__ul__li__a__text">Classic Tours</span>
          </a>
        </li>
        <li class="mov-menu__ul__li">
          <a href="{% url 'servicio_app:camino_inca' %}" class="mov-menu__ul__li__a">
            <i class="fa fa-blind mov-menu__ul__li__a__icon color-sexto" aria-hidden="true"></i>
            <span class="mov-menu__ul__li__a__text">Camino Inka</span>
          </a>
        </li>
        <li class="mov-menu__ul__li">
          <a href="{% url 'servicio_app:alternative_walks' %}" class="mov-menu__ul__li__a">
            <i class="fa fa-male mov-menu__ul__li__a__icon color-tercero" aria-hidden="true"></i>
            <span class="mov-menu__ul__li__a__text">Caminatas Alternativas</span>
          </a>
        </li>
        <li class="mov-menu__ul__li">
          <a href="{% url 'servicio_app:paquetes' %}" class="mov-menu__ul__li__a">
            <i class="fa fa-male mov-menu__ul__li__a__icon color-tercero" aria-hidden="true"></i>
            <span class="mov-menu__ul__li__a__text">Paquetes Turisticos</span>
          </a>
        </li>
        <li class="mov-menu__ul__li">
          <a href="{% url 'blog_app:blog_list' %}" class="mov-menu__ul__li__a">
            <i class="fa fa-street-view mov-menu__ul__li__a__icon color-septimo" aria-hidden="true"></i>
            <span class="mov-menu__ul__li__a__text">Blog</span>
          </a>
        </li>
        <li class="mov-menu__ul__li">
          <a href="{% url 'blog_app:ps_list' %}" class="mov-menu__ul__li__a">
            <i class="fa fa-train mov-menu__ul__li__a__icon color-cuarto" aria-hidden="true"></i>
            <span class="mov-menu__ul__li__a__text">Proyectos Sociales</span>
          </a>
        </li>
        <li class="mov-menu__ul__li">
          <a href="{% url 'blog_app:frecuent_questions' %}" class="mov-menu__ul__li__a">
            <i class="fa fa-question-circle mov-menu__ul__li__a__icon color-quinto" aria-hidden="true"></i>
            <span class="mov-menu__ul__li__a__text">Preguntas Frecuentes</span>
          </a>
        </li>
        <li class="mov-menu__ul__li">
          <a href="#" class="mov-menu__ul__li__a">
            <i class="fa fa-envelope mov-menu__ul__li__a__icon color-segundo" aria-hidden="true"></i>
            <span class="mov-menu__ul__li__a__text">Contacto</span>
          </a>
        </li>
        <div class="mov-menu__rs">
          <i class="fa fa-facebook-official mov-menu__rs__icon background-f" aria-hidden="true"></i>
          <i class="fa fa-instagram mov-menu__rs__icon background-i" aria-hidden="true"></i>
          <i class="fa fa-tripadvisor mov-menu__rs__icon background-t" aria-hidden="true"></i>
          <i class="fa fa-youtube-square mov-menu__rs__icon background-y" aria-hidden="true"></i>
        </div>
        <br>
      </ul>
    </div>
  </div>
  <div class="main-header-marca">
    <img src="{% static 'img/marca.png' %}" alt="tours-peru" class="main-header-marca__1">
    <img src="{% static 'img/logo.png' %}" alt="peru private tours" class="main-header-marca__2">
    <div class="main-header-marca__contact">
      <p class="main-header-marca__contact__items">
        <i class="fa fa-envelope-o icon-marca" aria-hidden="true"></i>
        <span class="color-sub">info@pptoursperu@gmail.com</span>
      </p>
      <p class="main-header-marca__contact__items">
        <i class="fa fa-whatsapp icon-marca" aria-hidden="true"></i>
        <span class="color-sub">954781254 - 95846201</span>
      </p>
      <div class="marca_rs">
        <a href="#" class="marca_rs__link background-t">
          <i class="fa fa-tripadvisor marca__rs__icon" aria-hidden="true"></i>
        </a>
        <a href="#" class="marca_rs__link background-f">
          <i class="fa fa-facebook-official marca__rs__icon" aria-hidden="true"></i>
        </a>
        <a href="#" class="marca_rs__link background-i">
          <i class="fa fa-instagram marca__rs__icon" aria-hidden="true"></i>
        </a>
        <a href="#" class="marca_rs__link background-y">
          <i class="fa fa-youtube-square marca__rs__icon" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="main-header" id="main-header">
    <div class="main-header__menu">
      <ul class="main-header__menu__ul">
        <li><a href="/"><img id="main-header-logo" class="main-header-logo" src="{% static 'img/p1.png' %}" alt=""></a></li>
        <li class="main-header__menu__ul__li">
          <a href="{% url 'servicio_app:clasic_tours' %}" class="main-header__menu__ul__li__a">Tours Clasicos</a>
            <ul class="main-header__menu__ul__li__ul">
              {% for s in global_tc %}
                <li class="main-header__menu__ul__li__ul__li">
                  <a href="{% url 'servicio_app:service_detail' s.slug %}" class="main-header__menu__ul__li__ul__li__a">
                    <img src="{% static 'img/p1.png' %}" class="main-header__menu__ul__li__ul__li__a__img">
                    {{s.title|truncatechars_html:45}}
                  </a>
                </li>
              {% endfor %}
            </ul>
        </li>
        <li class="main-header__menu__ul__li">
          <a href="{% url 'servicio_app:camino_inca' %}" class="main-header__menu__ul__li__a">Camino Inka</a>
          <ul class="main-header__menu__ul__li__ul">
            {% for s in global_ci %}
              <li class="main-header__menu__ul__li__ul__li">
                <a href="{% url 'servicio_app:service_detail' s.slug %}" class="main-header__menu__ul__li__ul__li__a">
                  <img src="{% static 'img/p1.png' %}" class="main-header__menu__ul__li__ul__li__a__img">
                  {{s.title|truncatechars_html:45}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="main-header__menu__ul__li">
          <a href="{% url 'servicio_app:alternative_walks' %}" class="main-header__menu__ul__li__a">Caminatas Alternativas</a>
          <ul class="main-header__menu__ul__li__ul">
            {% for s in global_ca %}
              <li class="main-header__menu__ul__li__ul__li">
                <a href="{% url 'servicio_app:service_detail' s.slug %}" class="main-header__menu__ul__li__ul__li__a">
                  <img src="{% static 'img/p1.png' %}" class="main-header__menu__ul__li__ul__li__a__img">
                  {{s.title|truncatechars_html:45}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="main-header__menu__ul__li">
          <a href="{% url 'servicio_app:paquetes' %}" class="main-header__menu__ul__li__a">Paquetes Turisticos</a>
          <ul class="main-header__menu__ul__li__ul">
            {% for s in global_pt %}
              <li class="main-header__menu__ul__li__ul__li">
                <a href="{% url 'servicio_app:service_detail' s.slug %}" class="main-header__menu__ul__li__ul__li__a">
                  <img src="{% static 'img/p1.png' %}" class="main-header__menu__ul__li__ul__li__a__img">
                  {{s.title|truncatechars_html:45}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="main-header__menu__ul__li">
          <a href="{% url 'blog_app:ps_list' %}" class="main-header__menu__ul__li__a">Proyectos Sociales</a>
        </li>
        <li class="main-header__menu__ul__li">
          <a href="{% url 'blog_app:blog_list' %}" class="main-header__menu__ul__li__a">Blog</a>
        </li>
        <li class="main-header__menu__ul__li">
          <a href="{% url 'blog_app:frecuent_questions' %}" class="main-header__menu__ul__li__a">Preguntas Frecuentes</a>
        </li>
        <li class="main-header__menu__ul__li">
          <a href="#" class="main-header__menu__ul__li__a">Contácto</a>
        </li>
      </ul>
    </div>
  </div>
</header>
