<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript" src="/js/scrips.js"></script>
  </head>
  <body class="body" id="body">
    <header>
      <div class="main-mov-header">
        <div id="togle-mov-icon" class="mov-header">
          <i class="fa fa-bars mov-header__icon" aria-hidden="true"></i>
          <a href="#"><img class="mov-header__logo" src="/img/logo_mov.png" alt=""></a>
          <a href="#" class="mov-header__link">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </div>
        <div id="togle-mov-menu-ul" class="mov-header-menu-disable">
          <ul class="mov-menu__ul">
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-blind mov-menu__ul__li__a__icon color-sexto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Camino Inka</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-male mov-menu__ul__li__a__icon color-tercero" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Caminatas Alternativas</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-street-view mov-menu__ul__li__a__icon color-septimo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Tours Clasicos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-train mov-menu__ul__li__a__icon color-cuarto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Paquetes Turisticos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-question-circle mov-menu__ul__li__a__icon color-quinto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Preguntas Frecuentes</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-envelope mov-menu__ul__li__a__icon color-segundo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Contacto</span>
              </a>
            </li>
            <div class="mov-menu__rs">
              <i class="fa fa-facebook-official mov-menu__rs__icon background-f" aria-hidden="true"></i>
              <i class="fa fa-instagram mov-menu__rs__icon background-i" aria-hidden="true"></i>
              <i class="fa fa-tripadvisor mov-menu__rs__icon background-t" aria-hidden="true"></i>
              <i class="fa fa-youtube-square mov-menu__rs__icon background-y" aria-hidden="true"></i>
            </div>
          </ul>
        </div>
      </div>
      <div class="main-header" id="main-header">
        <div class="main-header__rs">

        </div>
        <div class="main-header__menu">
          <a href="#" class="main-header__menu__logo">
            <img src="/img/logo_mov2.png" alt="Private-tours-peru" class="main-header__menu__logo__img">
            <span class="main-header__menu__logo__name">Peru Private Tours</span>
          </a>
          <ul class="main-header__menu__ul">
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Caminatas Alternativas</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Tours Clasicos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Paquetes Turisticos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Preguntas Frecuentes</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Contácto</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- inicio de banner -->
    <div class="banner-ap">
      <img src="/img/fondo2.jpg" alt="machu-pichu" class="banner-ap__img">
      <div class="banner-ap__resume">
        <div class="banner-ap__resume__den">
          <p class="banner-ap__resume__den__title">El Precio de su Paquetes es:</p>
          <p class="banner-ap__resume__den__amount">$450.00</p>
        </div>
        <div class="banner-ap__resume__detail">
          <ul class="banner-ap__resume__detail__ul">
            <li class="banner-ap__resume__detail__ul__li">
              <a href="#" class="banner-ap__resume__detail__ul__li__a">
                <i class="fa fa-bus simple-icon-tienda" aria-hidden="true"></i>
                Destinos: 4
              </a>
            </li>
            <li class="banner-ap__resume__detail__ul__li">
              <a href="#" class="banner-ap__resume__detail__ul__li__a">
                <i class="fa fa-sun-o simple-icon-tienda" aria-hidden="true"></i>
                dias: 5
              </a>
            </li>
            <li class="banner-ap__resume__detail__ul__li">
              <a href="#" class="banner-ap__resume__detail__ul__li__a">
                <i class="fa fa-heart simple-icon-tienda" aria-hidden="true"></i>
                Aventuras: 8
              </a>
            </li>
            <li class="banner-ap__resume__detail__ul__li">
              <a href="#" class="banner-ap__resume__detail__ul__li__a">
                <i class="fa fa-pagelines simple-icon-tienda" aria-hidden="true"></i>
                Arboles: 3
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="banner-ap__ctrls">
        <ul class="banner-ap__ctrls__days">
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-segundo">12</button>
          </li>
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-tercero">13</button>
          </li>
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-segundo">14</button>
          </li>
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-segundo">15</button>
          </li>
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-segundo">16</button>
          </li>
        </ul>
        <button type="button" name="button" class="primary-btn">
          Cambiar
        </button>
      </div>
      <div class="banner-ap__tl">
        <div class="banner-ap__tl__detail">
          <p class="banner-ap__tl__detail__p">70%</p>
          <button type="button" name="button" class="banner-ap__tl__detail__btn">Reiniciar</button>
        </div>
        <div class="warning progress">
          <div class="progress-meter" style="width: 70%"></div>
        </div>
      </div>
    </div>
    <!-- fin de banner -->

    <div class="grid-container">
      <div class="grid-x grid-margin-x ap-bloque">
        <h3 class="text-subtitle-2">Para proceder al pago, por favor ingrese los datos de todas las personas que tomaran el pquete.</h3>
        <div class="cell small-12 grid-x grid-margin-x ap-datos">
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="nombres" class="simple-form-2__lbl">Nombres:</label>
              <input type="text" name="nombres" class="simple-form" placeholder="Nommbre...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="apellidos" class="simple-form-2__lbl">Apellidos:</label>
              <input type="text" name="apellidos" class="simple-form" placeholder="Apellidos...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="formulario" class="simple-form-2__lbl">Nacionalidad:</label>
              <select>
                <option value="husker">Brasil</option>
                <option value="starbuck">Ecuador</option>
                <option value="hotdog">EE.UU</option>
                <option value="apollo">España</option>
              </select>
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="formulario" class="simple-form-2__lbl">Tipo Docum:</label>
              <select>
                <option value="husker">Pasaporte</option>
                <option value="starbuck">DNI</option>
              </select>
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="documento" class="simple-form-2__lbl">Nro Documento:</label>
              <input type="text" name="documento" class="simple-form" placeholder="Documento...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="edad" class="simple-form-2__lbl">Edad:</label>
              <input type="number" name="edad" class="simple-form">
            </div>
          </div>
          <div class="cell small-12">
            <div class="simple-form-2">
              <label for="edad" class="simple-form-2__lbl">Sexo:</label>
              <input type="radio" name="varon" id="varon" required><label for="varon" class="text-lbl">Varon</label>
              <input type="radio" name="mujer" id="mujer"><label for="mujer" class="text-lbl">Mujer</label>
            </div>
          </div>
          <div class="cell small-12">
            <p class="primary-text color-cuarto">Para realizar la reserva, es necesario la copia del documento de identidad seleccionado:</p>
            <div class="simple-form-2">
              <label for="file" class="simple-form-2__lbl">Imagen de Documento:</label>
              <input type="file" name="file" class="simple-form">
            </div>
          </div>
          <div class="cell small-12 ap-datos__ctrl">
            <button type="button" name="button" class="simple-btn background-quinto">Quitar</button>
          </div>
        </div>
        <div class="cell small-12 grid-x grid-margin-x ap-datos">
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="nombres" class="simple-form-2__lbl">Nombres:</label>
              <input type="text" name="nombres" class="simple-form" placeholder="Nommbre...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="apellidos" class="simple-form-2__lbl">Apellidos:</label>
              <input type="text" name="apellidos" class="simple-form" placeholder="Apellidos...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="formulario" class="simple-form-2__lbl">Nacionalidad:</label>
              <select>
                <option value="husker">Brasil</option>
                <option value="starbuck">Ecuador</option>
                <option value="hotdog">EE.UU</option>
                <option value="apollo">España</option>
              </select>
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="formulario" class="simple-form-2__lbl">Tipo Docum:</label>
              <select>
                <option value="husker">Pasaporte</option>
                <option value="starbuck">DNI</option>
              </select>
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="documento" class="simple-form-2__lbl">Nro Documento:</label>
              <input type="text" name="documento" class="simple-form" placeholder="Documento...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="edad" class="simple-form-2__lbl">Edad:</label>
              <input type="number" name="edad" class="simple-form">
            </div>
          </div>
          <div class="cell small-12">
            <div class="simple-form-2">
              <label for="edad" class="simple-form-2__lbl">Sexo:</label>
              <input type="radio" name="varon" id="varon" required><label for="varon" class="text-lbl">Varon</label>
              <input type="radio" name="mujer" id="mujer"><label for="mujer" class="text-lbl">Mujer</label>
            </div>
          </div>
          <div class="cell small-12">
            <p class="primary-text color-cuarto">Para realizar la reserva, es necesario la copia del documento de identidad seleccionado:</p>
            <div class="simple-form-2">
              <label for="file" class="simple-form-2__lbl">Imagen de Documento:</label>
              <input type="file" name="file" class="simple-form">
            </div>
          </div>
          <div class="cell small-12 ap-datos__ctrl">
            <button type="button" name="button" class="simple-btn background-quinto">Quitar</button>
          </div>
        </div>
        <div class="cell small-12 grid-x grid-margin-x ap-datos">
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="nombres" class="simple-form-2__lbl">Nombres:</label>
              <input type="text" name="nombres" class="simple-form" placeholder="Nommbre...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="apellidos" class="simple-form-2__lbl">Apellidos:</label>
              <input type="text" name="apellidos" class="simple-form" placeholder="Apellidos...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="formulario" class="simple-form-2__lbl">Nacionalidad:</label>
              <select>
                <option value="husker">Brasil</option>
                <option value="starbuck">Ecuador</option>
                <option value="hotdog">EE.UU</option>
                <option value="apollo">España</option>
              </select>
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="formulario" class="simple-form-2__lbl">Tipo Docum:</label>
              <select>
                <option value="husker">Pasaporte</option>
                <option value="starbuck">DNI</option>
              </select>
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="documento" class="simple-form-2__lbl">Nro Documento:</label>
              <input type="text" name="documento" class="simple-form" placeholder="Documento...">
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="simple-form-2">
              <label for="edad" class="simple-form-2__lbl">Edad:</label>
              <input type="number" name="edad" class="simple-form">
            </div>
          </div>
          <div class="cell small-12">
            <div class="simple-form-2">
              <label for="edad" class="simple-form-2__lbl">Sexo:</label>
              <input type="radio" name="varon" id="varon" required><label for="varon" class="text-lbl">Varon</label>
              <input type="radio" name="mujer" id="mujer"><label for="mujer" class="text-lbl">Mujer</label>
            </div>
          </div>
          <div class="cell small-12">
            <p class="primary-text color-cuarto">Para realizar la reserva, es necesario la copia del documento de identidad seleccionado:</p>
            <div class="simple-form-2">
              <label for="file" class="simple-form-2__lbl">Imagen de Documento:</label>
              <input type="file" name="file" class="simple-form">
            </div>
          </div>
          <div class="cell small-12 ap-datos__ctrl">
            <button type="button" name="button" class="simple-btn background-quinto">Quitar</button>
          </div>
        </div>
        <div class="cell small-12 centrar">
          <button type="button" name="button" class="secondary-btn">
            <i class="fa fa-plus-circle color-tercero" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="grid-x grid-margin-x align-center ap-bloque">
        <div class="cell small-12 medium-10 large-8">
          <div class="ap-datos__menssage">
            <p class="ap-datos__menssage__txt">
              Gracias por reservar con nostros, estamos seguros de que su experiencia
              sera inolvidabe
            </p>
            <div class="ap-datos__menssage__arb">
              <p class="ap-datos__menssage__arb__txt">
                Recuerda que con tu reserva plantaras 8 arboles en la counidad INCA CANCHA CUSCO
              </p>
              <div class="ap-datos__menssage__arb__imgs">
                <img src="/img/p.png" alt="cusco" class="ap-datos__menssage__arb__imgs__img">
                <img src="/img/p.png" alt="cusco" class="ap-datos__menssage__arb__imgs__img">
                <img src="/img/p.png" alt="cusco" class="ap-datos__menssage__arb__imgs__img">
                <img src="/img/p.png" alt="cusco" class="ap-datos__menssage__arb__imgs__img">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-x align-center ap-bloque">
        <div class="center">
          <button type="button" name="button" class="primary-btn-2">Continuar</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="main-footer">
        <div class="main-footer__rs">
          <a href="#" class="main-footer__rs__item">Facebook</a>
          <a href="#" class="main-footer__rs__item">Instagram</a>
          <a href="#" class="main-footer__rs__item">Tripavisor</a>
          <a href="#" class="main-footer__rs__item">Youtube</a>
        </div>
        <div class="main-footer__call">
          <i class="fa fa-phone-square fa-3x main-footer__call__icon" aria-hidden="true"></i>
          <p class="main-footer__call__item">Whatsapp: +51 25874512</p>
          <p class="main-footer__call__item">Whatsapp: +51 258124412</p>
          <p class="main-footer__call__item">Email: peruprivatetours@gmail.com</p>
        </div>
        <div class="main-footer__marca">
          <a href="#" class="main-footer__marca__link">Peru Private Tours</a>
        </div>
      </div>
    </footer>
  </body>
</html>
