<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript" src="/js/scrips.js"></script>
  </head>
  <body class="body" id="body">
    <header>
      <div class="main-mov-header">
        <div id="togle-mov-icon" class="mov-header">
          <i class="fa fa-bars mov-header__icon" aria-hidden="true"></i>
          <a href="#"><img class="mov-header__logo" src="/img/logo_mov.png" alt=""></a>
          <a href="#" class="mov-header__link">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </div>
        <div id="togle-mov-menu-ul" class="mov-header-menu-disable">
          <ul class="mov-menu__ul">
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-blind mov-menu__ul__li__a__icon color-sexto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Camino Inka</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-male mov-menu__ul__li__a__icon color-tercero" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Caminatas Alternativas</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-street-view mov-menu__ul__li__a__icon color-septimo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Tours Clasicos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-train mov-menu__ul__li__a__icon color-cuarto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Paquetes Turisticos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-question-circle mov-menu__ul__li__a__icon color-quinto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Preguntas Frecuentes</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-envelope mov-menu__ul__li__a__icon color-segundo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Contacto</span>
              </a>
            </li>
            <div class="mov-menu__rs">
              <i class="fa fa-facebook-official mov-menu__rs__icon background-f" aria-hidden="true"></i>
              <i class="fa fa-instagram mov-menu__rs__icon background-i" aria-hidden="true"></i>
              <i class="fa fa-tripadvisor mov-menu__rs__icon background-t" aria-hidden="true"></i>
              <i class="fa fa-youtube-square mov-menu__rs__icon background-y" aria-hidden="true"></i>
            </div>
          </ul>
        </div>
      </div>
      <div class="main-header" id="main-header">
        <div class="main-header__rs">

        </div>
        <div class="main-header__menu">
          <a href="#" class="main-header__menu__logo">
            <img src="/img/logo_mov2.png" alt="Private-tours-peru" class="main-header__menu__logo__img">
            <span class="main-header__menu__logo__name">Peru Private Tours</span>
          </a>
          <ul class="main-header__menu__ul">
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Caminatas Alternativas</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Tours Clasicos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Paquetes Turisticos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Preguntas Frecuentes</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Contácto</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- inicio de banner -->
    <div class="banner-ap">
      <img src="/img/fondo2.jpg" alt="machu-pichu" class="banner-ap__img">
      <div class="banner-ap__resume">
        <div class="banner-ap__resume__den">
          <p class="banner-ap__resume__den__title">El Precio de su Paquetes es:</p>
          <p class="banner-ap__resume__den__amount">$450.00</p>
        </div>
        <div class="banner-ap__resume__detail">
          <ul class="banner-ap__resume__detail__ul">
            <li class="banner-ap__resume__detail__ul__li">
              <a href="#" class="banner-ap__resume__detail__ul__li__a">
                <i class="fa fa-bus simple-icon-tienda" aria-hidden="true"></i>
                Destinos: 4
              </a>
            </li>
            <li class="banner-ap__resume__detail__ul__li">
              <a href="#" class="banner-ap__resume__detail__ul__li__a">
                <i class="fa fa-sun-o simple-icon-tienda" aria-hidden="true"></i>
                dias: 5
              </a>
            </li>
            <li class="banner-ap__resume__detail__ul__li">
              <a href="#" class="banner-ap__resume__detail__ul__li__a">
                <i class="fa fa-heart simple-icon-tienda" aria-hidden="true"></i>
                Aventuras: 8
              </a>
            </li>
            <li class="banner-ap__resume__detail__ul__li">
              <a href="#" class="banner-ap__resume__detail__ul__li__a">
                <i class="fa fa-pagelines simple-icon-tienda" aria-hidden="true"></i>
                Arboles: 3
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="banner-ap__ctrls">
        <ul class="banner-ap__ctrls__days">
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-segundo">12</button>
          </li>
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-tercero">13</button>
          </li>
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-segundo">14</button>
          </li>
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-segundo">15</button>
          </li>
          <li class="banner-ap__ctrls__days__li">
            <button type="button" name="button" class="banner-ap__ctrls__days__li__btn background-segundo">16</button>
          </li>
        </ul>
        <button type="button" name="button" class="primary-btn">
          Cambiar
        </button>
      </div>
      <div class="banner-ap__tl">
        <div class="banner-ap__tl__detail">
          <p class="banner-ap__tl__detail__p">70%</p>
          <button type="button" name="button" class="banner-ap__tl__detail__btn">Reiniciar</button>
        </div>
        <div class="warning progress">
          <div class="progress-meter" style="width: 90%"></div>
        </div>
      </div>
    </div>
    <!-- fin de banner -->

    <div class="grid-container">
      <div class="grid-x grid-margin-x aling-center">
        <div class="small-12 large-8">
          <h2 class="primary-text color-segundo centrar">Resumen de su itinerario:</h2>
          <div class="ap-resume">
            <p class="ap-resume__title">DIA 29 de diciembre 2017</p>
            <div class="ap-resume__bloque">
              <div class="ap-resume__bloque__ctrl">
                <button type="button" name="button" class="simple-btn background-y">Quitar</button>
                <button type="button" name="button" class="simple-btn background-segundo">Cambiar</button>
              </div>
              <div class="detail-card">
                <div class="detail-card__content">
                  <a href="#" class="detail-card__content__title">Camino Inka</a>
                  <p class="detail-card__content__subtitle">Hora de inicio: a coordinar</p>
                  <div class="detail-card__content__body">
                    <div class="detail-card__content__body__detalle">
                      <p class="detail-card__content__body__detalle__p">Inlcuye:</p>
                      <ul class="detail-card__content__body__detalle__ul">
                        <li class="detail-card__content__body__detalle__ul__li">
                          Recojo de hotel
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          trasporte privado
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          guia pofesional
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          asistencia permanente
                        </li>
                      </ul>
                    </div>
                    <div class="detail-card__content__body__detalle">
                      <p class="detail-card__content__body__detalle__p">No Inlcuye:</p>
                      <ul class="detail-card__content__body__detalle__ul">
                        <li class="detail-card__content__body__detalle__ul__li">
                          Alimentacion
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          Gastos extras de compra
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          Ingreso a lugares no mencionados en e tour
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="detail-card__footer">
                  <img src="/img/3.jpg" alt="ppt" class="detail-card__footer__img">
                  <div class="detail-card__footer__detalle">
                    <p class="detail-card__footer__detalle__item color-segundo">Precio: $50.75</p>
                    <p class="detail-card__footer__detalle__item color-tercero">Dificultad: Facil</p>
                    <p class="detail-card__footer__detalle__item color-cuarto">Tipo: Privado</p>
                  </div>
                  <div class="detail-card__footer__r">
                    <p class="detail-card__footer__r__num">2</p>
                    <img src="/img/p.png" alt="ppt" class="detail-card__footer__r__img">
                  </div>
                </div>
                <div class="detail-card__extra">
                  <p class="detail-card__extra__title">¿Opciones adicionaes que desee añadir a este dia?</p>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena show en restaurant la cusqueñita</a>
                    <span class="detail-card__extra__item__tag">$30.00 apiece</span>
                  </div>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena romantica en el resataurante CHICHA by Gaston</a>
                    <span class="detail-card__extra__item__tag">$25.00 apiece</span>
                  </div>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena andina en el restaurante INKA GRILL</a>
                    <span class="detail-card__extra__item__tag">$20.00 apiece</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="ap-resume__bloque">
              <div class="ap-resume__bloque__ctrl">
                <button type="button" name="button" class="simple-btn background-y">Quitar</button>
                <button type="button" name="button" class="simple-btn background-segundo">Cambiar</button>
              </div>
              <div class="detail-card">
                <div class="detail-card__content">
                  <a href="#" class="detail-card__content__title">Valle sur del cusco</a>
                  <p class="detail-card__content__subtitle">Hora de inicio: 10:00 am</p>
                  <div class="detail-card__content__body">
                    <div class="detail-card__content__body__detalle">
                      <p class="detail-card__content__body__detalle__p">Inlcuye:</p>
                      <ul class="detail-card__content__body__detalle__ul">
                        <li class="detail-card__content__body__detalle__ul__li">
                          Recojo de hotel
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          trasporte privado
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          guia pofesional
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          asistencia permanente
                        </li>
                      </ul>
                    </div>
                    <div class="detail-card__content__body__detalle">
                      <p class="detail-card__content__body__detalle__p">No Inlcuye:</p>
                      <ul class="detail-card__content__body__detalle__ul">
                        <li class="detail-card__content__body__detalle__ul__li">
                          Alimentacion
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          Gastos extras de compra
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          Ingreso a lugares no mencionados en e tour
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="detail-card__footer">
                  <img src="/img/3.jpg" alt="ppt" class="detail-card__footer__img">
                  <div class="detail-card__footer__detalle">
                    <p class="detail-card__footer__detalle__item color-segundo">Precio: $50.75</p>
                    <p class="detail-card__footer__detalle__item color-tercero">Dificultad: Facil</p>
                    <p class="detail-card__footer__detalle__item color-cuarto">Tipo: Privado</p>
                  </div>
                  <div class="detail-card__footer__r">
                    <p class="detail-card__footer__r__num">2</p>
                    <img src="/img/p.png" alt="ppt" class="detail-card__footer__r__img">
                  </div>
                </div>
                <div class="detail-card__extra">
                  <p class="detail-card__extra__title">¿Opciones adicionaes que desee añadir a este dia?</p>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena show en restaurant la cusqueñita</a>
                    <span class="detail-card__extra__item__tag">$30.00 apiece</span>
                  </div>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena romantica en el resataurante CHICHA by Gaston</a>
                    <span class="detail-card__extra__item__tag">$25.00 apiece</span>
                  </div>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena andina en el restaurante INKA GRILL</a>
                    <span class="detail-card__extra__item__tag">$20.00 apiece</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="ap-resume__bloque">
              <div class="ap-resume__bloque__ctrl">
                <button type="button" name="button" class="simple-btn background-y">Quitar</button>
                <button type="button" name="button" class="simple-btn background-segundo">Cambiar</button>
              </div>
              <div class="detail-card">
                <div class="detail-card__content">
                  <a href="#" class="detail-card__content__title">City Tour Cusco</a>
                  <p class="detail-card__content__subtitle">Hora de inicio: a coordinar</p>
                  <div class="detail-card__content__body">
                    <div class="detail-card__content__body__detalle">
                      <p class="detail-card__content__body__detalle__p">Inlcuye:</p>
                      <ul class="detail-card__content__body__detalle__ul">
                        <li class="detail-card__content__body__detalle__ul__li">
                          Recojo de hotel
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          trasporte privado
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          guia pofesional
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          asistencia permanente
                        </li>
                      </ul>
                    </div>
                    <div class="detail-card__content__body__detalle">
                      <p class="detail-card__content__body__detalle__p">No Inlcuye:</p>
                      <ul class="detail-card__content__body__detalle__ul">
                        <li class="detail-card__content__body__detalle__ul__li">
                          Alimentacion
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          Gastos extras de compra
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          Ingreso a lugares no mencionados en e tour
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="detail-card__footer">
                  <img src="/img/3.jpg" alt="ppt" class="detail-card__footer__img">
                  <div class="detail-card__footer__detalle">
                    <p class="detail-card__footer__detalle__item color-segundo">Precio: $50.75</p>
                    <p class="detail-card__footer__detalle__item color-tercero">Dificultad: Facil</p>
                    <p class="detail-card__footer__detalle__item color-cuarto">Tipo: Privado</p>
                  </div>
                  <div class="detail-card__footer__r">
                    <p class="detail-card__footer__r__num">2</p>
                    <img src="/img/p.png" alt="ppt" class="detail-card__footer__r__img">
                  </div>
                </div>
                <div class="detail-card__extra">
                  <p class="detail-card__extra__title">¿Opciones adicionaes que desee añadir a este dia?</p>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena show en restaurant la cusqueñita</a>
                    <span class="detail-card__extra__item__tag">$30.00 apiece</span>
                  </div>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena romantica en el resataurante CHICHA by Gaston</a>
                    <span class="detail-card__extra__item__tag">$25.00 apiece</span>
                  </div>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena andina en el restaurante INKA GRILL</a>
                    <span class="detail-card__extra__item__tag">$20.00 apiece</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ap-resume">
            <p class="ap-resume__title">DIA 30 de diciembre 2017</p>
            <div class="ap-resume__bloque">
              <div class="ap-resume__bloque__ctrl">
                <button type="button" name="button" class="simple-btn background-y">Quitar</button>
                <button type="button" name="button" class="simple-btn background-segundo">Cambiar</button>
              </div>
              <div class="detail-card">
                <div class="detail-card__content">
                  <a href="#" class="detail-card__content__title">Tour Valle sagrado</a>
                  <p class="detail-card__content__subtitle">Hora de inicio: 9:30am</p>
                  <div class="detail-card__content__body">
                    <div class="detail-card__content__body__detalle">
                      <p class="detail-card__content__body__detalle__p">Inlcuye:</p>
                      <ul class="detail-card__content__body__detalle__ul">
                        <li class="detail-card__content__body__detalle__ul__li">
                          Recojo de hotel
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          trasporte privado
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          guia pofesional
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          asistencia permanente
                        </li>
                      </ul>
                    </div>
                    <div class="detail-card__content__body__detalle">
                      <p class="detail-card__content__body__detalle__p">No Inlcuye:</p>
                      <ul class="detail-card__content__body__detalle__ul">
                        <li class="detail-card__content__body__detalle__ul__li">
                          Alimentacion
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          Gastos extras de compra
                        </li>
                        <li class="detail-card__content__body__detalle__ul__li">
                          Ingreso a lugares no mencionados en e tour
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="detail-card__footer">
                  <img src="/img/4.jpg" alt="ppt" class="detail-card__footer__img">
                  <div class="detail-card__footer__detalle">
                    <p class="detail-card__footer__detalle__item color-segundo">Precio: $50.75</p>
                    <p class="detail-card__footer__detalle__item color-tercero">Dificultad: Facil</p>
                    <p class="detail-card__footer__detalle__item color-cuarto">Tipo: Privado</p>
                  </div>
                  <div class="detail-card__footer__r">
                    <p class="detail-card__footer__r__num">2</p>
                    <img src="/img/p.png" alt="ppt" class="detail-card__footer__r__img">
                  </div>
                </div>
                <div class="detail-card__extra">
                  <p class="detail-card__extra__title">¿Opciones adicionaes que desee añadir a este dia?</p>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena show en restaurant la cusqueñita</a>
                    <span class="detail-card__extra__item__tag">$30.00 apiece</span>
                  </div>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena romantica en el resataurante CHICHA by Gaston</a>
                    <span class="detail-card__extra__item__tag">$25.00 apiece</span>
                  </div>
                  <div class="detail-card__extra__item">
                    <button type="button" name="button" class="detail-card__extra__item__btn">
                      <i class="fa fa-plus detail-card__extra__item__btn__icon" aria-hidden="true"></i>
                    </button>
                    <a href="#" class="detail-card__extra__item__txt">Cena andina en el restaurante INKA GRILL</a>
                    <span class="detail-card__extra__item__tag">$20.00 apiece</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="small-12 large-4">
          <h3 class="secondary-text centrar">Proyectos Sociales</h3>
          <div class="primary-card">
            <img src="/img/10.jpeg" alt="ppt" class="primary-card__img">
            <div class="primary-card__body">
              <a href="#" class="primary-card__body__title">Deporte con los niños de chaki</a>
              <p class="primary-card__body__txt">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="primary-card">
            <img src="/img/11.jpeg" alt="ppt" class="primary-card__img">
            <div class="primary-card__body">
              <a href="#" class="primary-card__body__title">Paseo los niños de chaki</a>
              <p class="primary-card__body__txt">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="primary-card">
            <img src="/img/12.jpeg" alt="ppt" class="primary-card__img">
            <div class="primary-card__body">
              <a href="#" class="primary-card__body__title">desayuno con los niños de chaki</a>
              <p class="primary-card__body__txt">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="primary-card">
            <img src="/img/4.jpg" alt="ppt" class="primary-card__img">
            <div class="primary-card__body">
              <a href="#" class="primary-card__body__title">almuerzo con los niños de chaki</a>
              <p class="primary-card__body__txt">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="primary-card">
            <img src="/img/1.jpg" alt="ppt" class="primary-card__img">
            <div class="primary-card__body">
              <a href="#" class="primary-card__body__title">Deporte con los niños de chaki</a>
              <p class="primary-card__body__txt">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="main-footer">
        <div class="main-footer__rs">
          <a href="#" class="main-footer__rs__item">Facebook</a>
          <a href="#" class="main-footer__rs__item">Instagram</a>
          <a href="#" class="main-footer__rs__item">Tripavisor</a>
          <a href="#" class="main-footer__rs__item">Youtube</a>
        </div>
        <div class="main-footer__call">
          <i class="fa fa-phone-square fa-3x main-footer__call__icon" aria-hidden="true"></i>
          <p class="main-footer__call__item">Whatsapp: +51 25874512</p>
          <p class="main-footer__call__item">Whatsapp: +51 258124412</p>
          <p class="main-footer__call__item">Email: peruprivatetours@gmail.com</p>
        </div>
        <div class="main-footer__marca">
          <a href="#" class="main-footer__marca__link">Peru Private Tours</a>
        </div>
      </div>
    </footer>
  </body>
</html>
