{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}{{home.title_seo}}{% endblock %}

{% block description %}{{home.description_seo}}{% endblock %}

{% block title_rs %}{{home.title_seo}}{% endblock %}

{% block description_rs %}{{home.description_seo}}{% endblock %}


{% block tags %}{% for t in home.tags_set.all  %}{{t.name}},{% endfor %}{% endblock tags %}

{% block content %}
  {% include "include/header.html" %}
  <!-- inicio de home -->
  <br><br>
  <div class="grid-x grid-margin-x align-center">
    <form class="cell small-11 large-8 grid-x grid-margin-x align-center"  method="post">{% csrf_token %}
      <h3 class="cell primary-subtitle">Comunicate con PPT</h3>
      <h4 class="cell secondary-text">Informacion personal</h4>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Nombres:</label>
            {{form.name}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Apellidos:</label>
            {{form.last_name}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">E-mail:</label>
            {{form.email}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Telefono:</label>
            {{form.phone}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">ID Skype:</label>
            {{form.skype}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Mejor Momento de Contacto:</label>
            {{form.best_time_contact}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Pais de residencia:</label>
            {{form.country_residence}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Ciudad:</label>
            {{form.city}}
          </div>
        </div>
      <h4 class="cell secondary-text">Detalles de viaje</h4>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Destino:</label>
            {{form.destiny}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Fecha de salida:</label>
            {{form.departure_date}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Catidad de dias:</label>
            {{form.days_amount}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Catidad de Adultos:</label>
            {{form.adult_amount}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-4">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Infantes:</label>
            {{form.infant_amount}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-4">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Niños de 2-5 años:</label>
            {{form.boy_infant_amount}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-4">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Niños de 6-12 años:</label>
            {{form.boy_amount}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Categoria hotel:</label>
            {{form.hotel}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-6">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Tipo de servicio hotel:</label>
            {{form.type_service}}
          </div>
        </div>
      <div class="cell small-12 meiudm-6 large-12">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Mensaje:</label>
            {{form.message}}
          </div>
        </div>
      <div class="cell small-4">
        <button type="submit" name="button" class="cell primary-btn">Enviar</button>
      </div>
    </form>
  </div>
  <!-- fin de contenido de la pagina -->
  {% include "include/footer.html" %}
{% endblock %}
