{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}{{home.title_seo}}{% endblock %}

{% block description %}{{home.description_seo}}{% endblock %}

{% block title_rs %}{{home.title_seo}}{% endblock %}

{% block description_rs %}{{home.description_seo}}{% endblock %}


{% block tags %}{% for t in home.tags_set.all  %}{{t.name}},{% endfor %}{% endblock tags %}

{% block content %}
  {% include "include/header.html" %}
  <!-- inicio de home -->
  <div class="banner">
    <img src="{{home.banner_img.url}}" alt="peru-private-tours" class="banner__img">
    <div class="banner__logo">
      <img src="{% static 'img/main_logo.png' %}" alt="peru-private-tours" class="banner__logo__img">
    </div>
    <div class="banner__copy">
      <div class="banner__copy__main">
        <h1 class="banner__copy__main__title">{{home.title}}</h1>
        <p class="banner__copy__main__slogan">{{home.slogan}}</p>
      </div>
      <div class="banner__copy__comentary">
        La pagina web esta en construccion disculpe las molestias :(
      </div>
    </div>
  </div>
  <!-- fin de home -->
  <!-- inicio del contenido de la pagina -->
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <!-- inicio de armado de paquete -->
      <div class="cell small-12 large-4">
        <h3 class="cell text-subtitle">Nos adaptamos de acuerdo a tus necesidades, arma tu paquete y ahorra tiempo.</h3>
        <div class="grid-x grid-padding-x home-armar-paquete">
          <div class="cell small-6">
            <label><span class="label-input">Fecha de arribo</span>
              <input type="date" class="home-armar-paquete__input">
            </label>
          </div>
          <div class="cell small-6">
            <label><span class="label-input">Hora de arribo</span>
              <input type="time" class="home-armar-paquete__input">
            </label>
          </div>
          <div class="cell small-6">
            <label><span class="label-input">Fecha de salida</span>
              <input type="date" class="home-armar-paquete__input">
            </label>
          </div>
          <div class="cell small-6">
            <label><span class="label-input">Hora de salida</span>
              <input type="time" class="home-armar-paquete__input">
            </label>
          </div>
          <div class="cell small-12">
            <label><span class="label-input">Destinos</span>
              <select class="home-armar-paquete__input">
                <option value="husker">Cusco</option>
                <option value="starbuck">Arequipa</option>
                <option value="hotdog">Puno</option>
                <option value="apollo">Lima</option>
              </select>
            </label>
            <div class="home-armar-paquete__destinos">
              <span class="home-armar-paquete__destinos__destino">Cusco</span>
              <span class="home-armar-paquete__destinos__destino">Arequipa</span>
              <span class="home-armar-paquete__destinos__destino">Puno</span>
            </div>
          </div>
          <div class="cell small-12">
            <label><span class="label-input">E-mail</span>
              <input type="email" class="home-armar-paquete__input" placeholder="Email">
            </label>
          </div>
          <div class="cell small-12 centrar">
            <button type="button" name="button" class="home-armar-paquete__btn">Buscar</button>
          </div>
        </div>
      </div>
      <!-- fin de armado de pequete -->
      <!-- inicio de busqueda de reservas -->
      <div class="cell small-12 large-4">
        <div class="grid-x home-armar-paquete__buscar_reserva">
          <h3 class="cell text-subtitle">¿Ya tienes una reserva?. Sigue tu reserva desde aqui</h3>
          <div class="cell small-12">
            <div class="home-armar-paquete__search_reserva">
              <i class="fa fa-key home-armar-paquete__search_reserva__icon" aria-hidden="true"></i>
              <input type="text" class="home-armar-paquete__search_reserva__input" placeholder="Codigo de Reserva">
              <button type="button" name="button" class="search-form__btn">
                <i class="fa fa-search search-form__btn__icon" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="grid-x home-armar-paquete__ps_destacado">
          <h3 class="cell text-subtitle">{{home.title_featured_article}}</h3>
          <div class="simple-card">
            <div class="simple-card__header">
              <img src="{{home.featured_article.image1.url}}" alt="{{home.featured_article.title}}" class="simple-card__header__img">
              <p class="simple-card__header__name">{{home.featured_article.title}}</p>
            </div>
            <div class="simple-card__body">
              <p class="simple-card__body__text">
                {{home.featured_article.description|truncatechars:150}}
              </p>
            </div>
            <div class="simple-card__footer">
              <a href="{% url 'blog_app:ps_detail'  home.featured_article.slug %}" class="simple-card__footer__link">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de busqueda de reservas -->
      <div class="cell small-12 large-4">
        <div class="home-armar-paquete__servicio_destacado">
          <h3 class="cell text-subtitle">{{home.title_featured_service}}</h3>
          <div class="shop-card">
            <div class="shop-card__header">
              <img src="{{home.featured_service.image.url}}" alt="{{home.featured_service.title}}" class="shop-card__header__img">
              <span class="shop-card__header__tag">Promocion</span>
            </div>
            <div class="shop-card__denomination">
              <a href="{% url 'servicio_app:service_detail' home.featured_service.slug %}" class="shop-card__denomination__name">{{home.featured_service.title}}</a>
              <span class="shop-card__denomination__price"> {{home.featured_service.private_price}} </span>
            </div>
            <div class="shop-card__body">
              <p class="shop-card__body__text1">Grado dificultad: {{home.featured_service.difficulty}}</p>
              <p class="shop-card__body__text2">
                {{home.featured_service.description|truncatechars:150}}
              </p>
            </div>
            <div class="shop-card__footer">
              <p class="shop-card__footer__item">
                <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                {{home.featured_service.hour_start}}
              </p>
              <p class="shop-card__footer__item">
                <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                {{home.featured_service.hour_end}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app>
      <div class="grid-x grid-margin-x align-center">
        <div class="cell">
            <h3 class="cell text-subtitle">¿Desea un paquete ya elaborado?</h3>
            <div class="search-form">
              <input type="text" name="search" placeholder="Buscar paquete" class="search-form__input">
              <button type="button" name="button" class="search-form__btn">
                <i class="fa fa-search search-form__btn__icon" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        <div class="cell grid-x grid-margin-x align-center">
          <div class="cell small-12 medium-6 large-4" v-for="(s, index) in servicios">
            <div class="product-card">
              <div class="product-card__header">
                <img v-bind:src="s.image" v-bind:alt="s.title" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ {$ s.private_price $}</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">{$ s.title $}</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">{$ s.spa_trip $}</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">{$ s.recommended_for $}</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: {$ s.hour_start $}</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: {$ s.difficulty $}</p>
                    <p class="product-card__body__detail__info__item">Altura promedio: {$ s.altitude_average $} msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app>

    <div class="home-about">
      <div class="home-about__header">
        <img src="{% static 'img/p.png' %}" alt="salva el planeta" class="home-about__header__img">
        <h3 class="home-about__header__title">{{home.title_emblema_article}}</h3>
      </div>
      <div class="home-about__body">
        <div class="grid-x">
          <div class="cell small-12 medium-6 large-6 home-about__body__video">
            {{home.emblema_article.video|safe}}
          </div>
          <div class="cell small-12 medium-6 large-6 home-about__body__text">
            <p>
              {{home.emblema_article.description|truncatechars_html:400}}
            </p>
            <div class="home-about__body__text__action">
              <a href="{% url 'blog_app:ps_detail' home.emblema_article.slug %}" class="home-about__body__text__action__btn">Conocer más del proyecto</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="home-about-galery home-space">
      <h3 class="home-about-galery__title">Conoce más sobre nuestros proyectos sociales</h3>
      <div class="grid-x grid-margin-x">
        {% for ps in proyectos  %}
          <div class="cell small-4 large-3 home-about-galery__item">
            <a href="{% url 'blog_app:ps_detail' ps.slug %}" class="home-about-galery__item__link">
              <img src="{{ps.image1.url}}" alt="{{ps.title}}" class="home-about-galery__item__img">
              <p class="home-about-galery__item__name">{{ps.title}}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="home-about-values">
      <h3 class="text-subtitle-2">{{home.title_content1_article}}</h3>
      <p class="home-about-values__content">
        {{home.content1_article.content|safe}}
      </p>
      <a href="{% url 'blog_app:blog_detail' home.content1_article.slug %}" class="home-about-values__link">Ver más</a>
    </div>

    <div class="grid-x grid-margin-x home-about-values-item">
      <h3 class="cell text-subtitle-2">¿Que nos hace distintos?</h3>
      {% for value in home.values_enterprice.all  %}
        <div class="small-12 medium-6 home-about-values-item__val">
          <img src="{% static 'img/p.png' %}" alt="ppt" class="home-about-values-item__val__i">
          <a href="{% url 'blog_app:pf_detail' value.slug %}" class="home-about-values-item__val__text">{{value.title}}</a>
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
  <!-- fin de contenido de la pagina -->
  {% include "include/footer.html" %}
{% endblock %}
