.service-ps {
  &__tab {
    font-family: $font-fam-tercero;
    &__a {
      color: color(tres);
      font-weight: bold;
    }
  }
  &__mapa {
    margin-bottom: 2em;
    width: 100%;
    @include desde(1024px){
      width: 300px;
    };
  }
}
