{% extends "home/base_home.html" %}

{% load  staticfiles %}

{% load thumbnail %}

{% load l10n %}

{% block title %}camino inca - inka trail - camino inca cusco{% endblock %}

{% block description %}Encuentra el mejor paquete de camino inca por cusco.{% endblock %}

{% block title_rs %}camino inca - inka trail - camino inca cusco{% endblock %}

{% block description_rs %}Encuentra el mejor paquete de camino inca por cusco.{% endblock %}


{% block tags %}camino inca, camino inca 2 dias, mapa camino inca, camino inca machu picchu{% endblock tags %}

{% block content %}
  {% include "include/header.html" %}

  <!-- inicio de banner -->
  <div class="banner-list">
    <img src="{% static 'img/ci.jpg' %}" alt="fondo" class="banner-list__img">
    <div class="banner-list__alert">
      <p class="banner-list__alert__text">
        Estos son nuestros paquetes en camino inka. recuerda que también puedes armar tu paquete como mas te convenga.
      </p>
      <a href="#" class="banner-list__alert__link">Armar Paquete</a>
    </div>
    <div class="banner-list__search">
      <form class="banner-list__search__form" method="get">{% csrf_token %}
        {{form.kword}}
        <button type="submit" name="button" class="search__btn__1">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
  <!-- fin de banner -->

  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center service-list">
      <h2 class="cell primary-subtitle">Camino inka es una aventura única en cusco, busca el paquete para tí.</h2>
      {% for s in servicios.queryset %}
        <div class="cell small-12 medium-6 large-4">
          <div class="product-card">
            <div class="product-card__header">
              <img src="{{s.image.url}}" alt="{{s.title_seo}}" class="product-card__header__img">
              <div class="product-card__header__tags">
                <span class="product-card__header__tags__l">{{s.shared_price}}</span>
                <a href="#" class="product-card__header__tags__r">Reservar</a>
              </div>
            </div>
            <h3 class="product-card__title">{{s.title}}</h3>
            <div class="product-card__body">
              <div class="product-card__body__content">
                <ul class="product-card__body__content__resume">
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Precio Privado: $ {{s.private_price}}</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Precio Compartido: $ {{s.shared_price}}</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Destino: {{s.destiny}}</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Cuantos árboles plantaras si compras este producto: <span class="color-tercero">plantaras {{s.tree}} árboles en una comunidad cusqueña</span></a>
                  </li>
                </ul>
              </div>
              <div class="product-card__body__detail">
                <div class="product-card__body__detail__btns">
                  <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">${{s.private_price}}</button>
                  <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">${{s.shared_price}}</button>
                </div>
                <div class="product-card__body__detail__info">
                  <p class="product-card__body__detail__info__item">Hora inicio: {{s.hour_start}}</p>
                  <p class="product-card__body__detail__info__item">Hora fin: {{s.hour_end}}</p>
                  <p class="product-card__body__detail__info__item">Grado de dificultad: {{s.difficulty}}</p>
                  <p class="product-card__body__detail__info__item">Altura promedio: {{s.altitude_average}} msnm</p>
                </div>
                <div class="product-card__body__detail__action">
                  <a href="{% url 'servicio_app:service_detail' s.slug %}" class="product-card__body__detail__action__btn">Ver más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-date">No se han econtrado resultados para tu busqueda :(</p>
      {% endfor %}
    </div>

    <br>
    <div class="grid-x grid-margin-x align-center service-ps">
      <h2 class="cell primary-subtitle">Recuerda que con cada servicios que solicitas estas ayudando con nuestros proyectos sociales.</h2>
      {% for p in servicios.proyectos  %}
        <div class="cell small-12 medium-6 large-4">
          <div class="blog-card">
            <img src="{{p.image1.url}}" alt="{{p.title}}" class="blog-card__img">
            <a href="#" class="blog-card__name">{{p.title}}</a>
            <p class="blog-card__text">
              {{p.description|truncatechars_html:60}}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% include "include/footer.html" %}
{% endblock %}
