.home-armar-paquete {
  border: 1px solid;
  border-color: color(uno);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0px rgba(70,177,187,1);
  padding: 5px;
  margin-bottom: 1em;
  @include desde_hasta(640px, 1024px){
    padding: {
      top: 1em;
      bottom: 1em;
      left: 2em;
      right: 2em;
    };
  };
  &__input {
    font-family: $font-fam-primero;
    color: color(gris);
  }
  &__btn {
    background: color(cuatro);
    color: color(blanco);
    font-family: $font-fam-primero;
    padding: {
      left: 2em;
      right: 2em;
      top: 0.4em;
      bottom: 0.4em;
    };
    border-radius: 10px;
    //tablet
    @include desde(640px){
      padding: {
        left: 2.5em;
        right: 2.5em;
        top: 0.6em;
        bottom: 0.6em;
      };
    };
    &:hover {
      cursor: pointer;
      background: color(ocho);
    }
  }
  &__destinos {
    border-bottom: 1px solid;
    border-color: color(dos);
    padding: 1px;
    margin-bottom: 10px;
    &__destino {
      font-family: $font-fam-primero;
      background: color(tres);
      color: color(blanco);
      border-radius: 3px;
      padding: {
        left: 3px;
        right: 3px;
      };
    }
  }
}

.home-armar-paquete__search_reserva {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  &__icon {
    margin: 0px;
    padding: 0px;
    font-size: 1.3em;
    position: absolute;
    left: 3px;
    top: 10px;
    color: color(negro-suave);
  }
  &__input {
    padding-left: 1.7em;
    font-family: $font-fam-primero;
    margin: 0px;
  }
}


.home-armar-paquete__buscar_reserva {
  display: block;
  @include desde(1024px){
    display: none;
  };
}

.home-armar-paquete__ps_destacado {
  display: none;
  @include desde(1024px){
    display: block;
  };
}
