<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="body" id="body">
    <header>
      <div class="main-mov-header">
        <div id="togle-mov-icon" class="mov-header">
          <i class="fa fa-bars mov-header__icon" aria-hidden="true"></i>
          <a href="#"><img class="mov-header__logo" src="/img/logo_mov.png" alt=""></a>
          <a href="#" class="mov-header__link">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </div>
        <div id="togle-mov-menu-ul" class="mov-header-menu-disable">
          <ul class="mov-menu__ul">
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-blind mov-menu__ul__li__a__icon color-sexto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Camino Inka</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-male mov-menu__ul__li__a__icon color-tercero" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Caminatas Alternativas</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-street-view mov-menu__ul__li__a__icon color-septimo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Tours Clasicos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-train mov-menu__ul__li__a__icon color-cuarto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Paquetes Turisticos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-question-circle mov-menu__ul__li__a__icon color-quinto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Preguntas Frecuentes</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-envelope mov-menu__ul__li__a__icon color-segundo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Contacto</span>
              </a>
            </li>
            <div class="mov-menu__rs">
              <i class="fa fa-facebook-official mov-menu__rs__icon background-f" aria-hidden="true"></i>
              <i class="fa fa-instagram mov-menu__rs__icon background-i" aria-hidden="true"></i>
              <i class="fa fa-tripadvisor mov-menu__rs__icon background-t" aria-hidden="true"></i>
              <i class="fa fa-youtube-square mov-menu__rs__icon background-y" aria-hidden="true"></i>
            </div>
          </ul>
        </div>
      </div>

      <div class="main-header-marca">
        <img src="/img/marca.png" alt="turismo cusco" class="main-header-marca__1">
        <img src="/img/logo.png" alt="peru private tours" class="main-header-marca__2">
        <div class="main-header-marca__contact">
          <p class="main-header-marca__contact__items">
            <i class="fa fa-envelope-o icon-marca" aria-hidden="true"></i>
            <span class="color-sub">info@pptoursperu@gmail.com</span>
          </p>
          <p class="main-header-marca__contact__items">
            <i class="fa fa-whatsapp icon-marca" aria-hidden="true"></i>
            <span class="color-sub">(084) 634156</span>
          </p>
          <div class="marca_rs">
            <a href="#" class="marca_rs__link background-t">
              <i class="fa fa-tripadvisor marca__rs__icon" aria-hidden="true"></i>
            </a>
            <a href="#" class="marca_rs__link background-f">
              <i class="fa fa-facebook-official marca__rs__icon" aria-hidden="true"></i>
            </a>
            <a href="#" class="marca_rs__link background-i">
              <i class="fa fa-instagram marca__rs__icon" aria-hidden="true"></i>
            </a>
            <a href="#" class="marca_rs__link background-y">
              <i class="fa fa-youtube-square marca__rs__icon" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="main-header" id="main-header">
        <div class="main-header__menu">
          <ul class="main-header__menu__ul">
            <li><a href="#"><img id="main-header-logo" class="main-header-logo" src="/img/p.png" alt=""></a></li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
              <ul class="main-header__menu__ul__li__ul">
                <li class="main-header__menu__ul__li__ul__li">
                  <a href="#" class="main-header__menu__ul__li__ul__li__a">
                    <img src="/img/p.png" class="main-header__menu__ul__li__ul__li__a__img">
                    opcion 1
                  </a>
                </li>
                <li class="main-header__menu__ul__li__ul__li">
                  <a href="#" class="main-header__menu__ul__li__ul__li__a">
                    <img src="/img/p.png" class="main-header__menu__ul__li__ul__li__a__img">
                    opcion 1
                  </a>
                </li>
                <li class="main-header__menu__ul__li__ul__li">
                  <a href="#" class="main-header__menu__ul__li__ul__li__a">
                    <img src="/img/p.png" class="main-header__menu__ul__li__ul__li__a__img">
                    opcion 1
                  </a>
                </li>
                <li class="main-header__menu__ul__li__ul__li">
                  <a href="#" class="main-header__menu__ul__li__ul__li__a">
                    <img src="/img/p.png" class="main-header__menu__ul__li__ul__li__a__img">
                    opcion 1
                  </a>
                </li>
                <li class="main-header__menu__ul__li__ul__li">
                  <a href="#" class="main-header__menu__ul__li__ul__li__a">
                    <img src="/img/p.png" class="main-header__menu__ul__li__ul__li__a__img">
                    opcion 1
                  </a>
                </li>
              </ul>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Caminatas Alternativas</a>
              <ul class="main-header__menu__ul__li__ul">
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 1</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 2</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 3</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 4</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 5</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 6</a></li>
              </ul>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Tours Clasicos</a>
              <ul class="main-header__menu__ul__li__ul">
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 1</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 2</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 3</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 4</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 5</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 6</a></li>
              </ul>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
              <ul class="main-header__menu__ul__li__ul">
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 1</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 2</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 3</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 4</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 5</a></li>
                <li class="main-header__menu__ul__li__ul__li"><a href="#" class="main-header__menu__ul__li__ul__li__a">opcion 6</a></li>
              </ul>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Proyectos Sociales</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Preguntas Frecuentes</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Contácto</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a" data-open="loginModal1">
                <i class="fa fa-user" aria-hidden="true"></i> Ingresar
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- inicio de home -->
    <div class="banner">
      <img src="/img/fondo.jpg" alt="fondo" class="banner__img">
      <div class="banner__logo">
        <img src="/img/main_logo.png" alt="logo" class="banner__logo__img">
      </div>
      <div class="banner__copy">
        <div class="banner__copy__main">
          <h1 class="banner__copy__main__title">Peru Private Tours</h1>
          <p class="banner__copy__main__slogan">Si lo Soñaste, Lo hacemos Realidad</p>
        </div>
        <div class="banner__copy__comentary">
          aqui van comentarios de trip avisor
        </div>
      </div>
    </div>
    <!-- fin de home -->

    <!-- inicio del contenido de la pagina -->
    <div class="grid-container">
      <div class="grid-x grid-margin-x align-center">
        <!-- inicio de armado de paquete -->
        <div class="cell small-12 large-4">
          <h3 class="cell text-subtitle">Nos adaptamos de acuerdo a tus necesidades, arma tu paquete y ahorra tiempo.</h3>
          <div class="grid-x grid-padding-x home-armar-paquete">
            <div class="cell small-6">
              <label><span class="label-input">Fecha de arribo</span>
                <input type="date" class="home-armar-paquete__input">
              </label>
            </div>
            <div class="cell small-6">
              <label><span class="label-input">Hora de arribo</span>
                <input type="time" class="home-armar-paquete__input">
              </label>
            </div>
            <div class="cell small-6">
              <label><span class="label-input">Fecha de salida</span>
                <input type="date" class="home-armar-paquete__input">
              </label>
            </div>
            <div class="cell small-6">
              <label><span class="label-input">Hora de salida</span>
                <input type="time" class="home-armar-paquete__input">
              </label>
            </div>
            <div class="cell small-12">
              <label><span class="label-input">Destinos</span>
                <select class="home-armar-paquete__input">
                  <option value="husker">Cusco</option>
                  <option value="starbuck">Arequipa</option>
                  <option value="hotdog">Puno</option>
                  <option value="apollo">Lima</option>
                </select>
              </label>
              <div class="home-armar-paquete__destinos">
                <span class="home-armar-paquete__destinos__destino">Cusco</span>
                <span class="home-armar-paquete__destinos__destino">Arequipa</span>
                <span class="home-armar-paquete__destinos__destino">Puno</span>
              </div>
            </div>
            <div class="cell small-12">
              <label><span class="label-input">E-mail</span>
                <input type="email" class="home-armar-paquete__input" placeholder="Email">
              </label>
            </div>
            <div class="cell small-12 centrar">
              <button type="button" name="button" class="home-armar-paquete__btn" data-open="datosModal1">
                Buscar
              </button>
            </div>
          </div>
        </div>
        <!-- fin de armado de pequete -->
        <!-- inicio de busqueda de reservas -->
        <div class="cell small-12 large-4">
          <div class="grid-x home-armar-paquete__buscar_reserva">
            <h3 class="cell text-subtitle">¿Ya tienes una reserva?. Sigue tu reserva desde aqui</h3>
            <div class="cell small-12">
              <div class="home-armar-paquete__search_reserva">
                <i class="fa fa-key home-armar-paquete__search_reserva__icon" aria-hidden="true"></i>
                <input type="text" class="home-armar-paquete__search_reserva__input" placeholder="Codigo de Reserva">
                <button type="button" name="button" class="search-form__btn">
                  <i class="fa fa-search search-form__btn__icon" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="grid-x home-armar-paquete__ps_destacado">
            <h3 class="cell text-subtitle">Conoce mas del Perú y su gente. Dale una mirada a nuestros proyectos sociales</h3>
            <div class="simple-card">
              <div class="simple-card__header">
                <img src="/img/2.jpg" alt="name" class="simple-card__header__img">
                <p class="simple-card__header__name">Navidad con los niños de salcantay chico</p>
              </div>
              <div class="simple-card__body">
                <p class="simple-card__body__text">
                  Welcome to Love Travel – Webflow Theme For Travel Agency This theme is suitable for travel agency that wants to have a modern and colorful theme to promote its business. With this travel theme you can.
                </p>
              </div>
              <div class="simple-card__footer">
                <a href="#" class="simple-card__footer__link">Ver más</a>
              </div>
            </div>
          </div>
        </div>
        <!-- fin de busqueda de reservas -->
        <div class="cell small-12  medium-8 large-4">
          <div class="home-armar-paquete__servicio_destacado">
            <h3 class="cell text-subtitle">Tenemos el servicio pefecto para ti, puede revisar nuestro paquete mas solicitado.</h3>
            <div class="shop-card">
              <div class="shop-card__header">
                <img src="/img/6.jpeg" alt="name" class="shop-card__header__img">
                <span class="shop-card__header__tag">Promocion</span>
              </div>
              <div class="shop-card__denomination">
                <a href="#" class="shop-card__denomination__name">Salkantay Camino Inca 6 Días</a>
                <span class="shop-card__denomination__price"> $120.00 </span>
              </div>
              <div class="shop-card__body">
                <p class="shop-card__body__text1">Grado dificultad: Facil</p>
                <p class="shop-card__body__text2">
                  Voyage Features Highly Customizable Extensive Admin Interface Simple One-Click Import of Demo Content No coding knowledge required Big custom shortcode collection Responsive.
                </p>
              </div>
              <div class="shop-card__footer">
                <p class="shop-card__footer__item">
                  <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                  Hora Inicio: 9:00 am
                </p>
                <p class="shop-card__footer__item">
                  <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                  Hora Fin: 16:30 pm
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-x home-space">
        <div class="small-12">
          <h3 class="cell text-subtitle">¿Desea un paquete ya elaborado?</h3>
          <div class="search-form">
            <input type="text" name="search" placeholder="Buscar paquete" class="search-form__input">
            <button type="button" name="button" class="search-form__btn">
              <i class="fa fa-search search-form__btn__icon" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="cell small-12 grid-x grid-margin-x home-paque-result">
          <div class="cell small-12 medium-6 large-4">
            <div class="product-card">
              <div class="product-card__header">
                <img src="/img/1.jpg" alt="name" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ 120.00</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">Cusco Clasico (4 dias/3 noches)</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                    <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-6 large-4">
            <div class="product-card">
              <div class="product-card__header">
                <img src="/img/1.jpg" alt="name" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ 120.00</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">Cusco Clasico (4 dias/3 noches)</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                    <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-6 large-4">
            <div class="product-card">
              <div class="product-card__header">
                <img src="/img/2.jpg" alt="name" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ 120.00</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">Camino inka clasico (4 dias/3 noches)</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                    <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-6 large-4">
            <div class="product-card">
              <div class="product-card__header">
                <img src="/img/3.jpg" alt="name" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ 120.00</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">City Tour Cusco (5 horas)</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                    <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-6 large-4">
            <div class="product-card">
              <div class="product-card__header">
                <img src="/img/4.jpg" alt="name" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ 120.00</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">Cusco Clasico (4 dias/3 noches)</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                    <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="home-about">
          <div class="home-about__header">
            <img src="/img/p.png" alt="planta" class="home-about__header__img">
            <h3 class="home-about__header__title">Salva el planeta</h3>
          </div>
          <div class="home-about__body">
            <div class="grid-x">
              <div class="cell small-12 medium-6 large-6 home-about__body__video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FLNr_IUP8Lo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
              </div>
              <div class="cell small-12 medium-6 large-6 home-about__body__text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="home-about__body__text__action">
                  <a href="#" class="home-about__body__text__action__btn">Conocer más del proyecto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-about-galery">
          <h3 class="home-about-galery__title">Conoce más sobre nuestros proyectos sociales</h3>
          <div class="grid-x grid-margin-x">
            <div class="cell small-4 large-3 home-about-galery__item">
              <a href="#" class="home-about-galery__item__link">
                <img src="/img/5.jpeg" alt="name" class="home-about-galery__item__img">
                <p class="home-about-galery__item__name">Nombre del proyecto social como entrada</p>
              </a>
            </div>
            <div class="cell small-4 large-3 home-about-galery__item">
              <a href="#" class="home-about-galery__item__link">
                <img src="/img/6.jpeg" alt="name" class="home-about-galery__item__img">
                <p class="home-about-galery__item__name">Nombre del proyecto</p>
              </a>
            </div>
            <div class="cell small-4 large-3 home-about-galery__item">
              <a href="#" class="home-about-galery__item__link">
                <img src="/img/7.jpeg" alt="name" class="home-about-galery__item__img">
                <p class="home-about-galery__item__name">Nombre del proyecto social</p>
              </a>
            </div>
            <div class="cell small-4 large-3 home-about-galery__item">
              <a href="#" class="home-about-galery__item__link">
                <img src="/img/8.jpeg" alt="name" class="home-about-galery__item__img">
                <p class="home-about-galery__item__name">Nombre del proyecto social como entrada</p>
              </a>
            </div>
            <div class="cell small-4 large-3 home-about-galery__item">
              <a href="#" class="home-about-galery__item__link">
                <img src="/img/3.jpg" alt="name" class="home-about-galery__item__img">
                <p class="home-about-galery__item__name">Nombre del proyecto social como entrada</p>
              </a>
            </div>
            <div class="cell small-4 large-3 home-about-galery__item">
              <a href="#" class="home-about-galery__item__link">
                <img src="/img/5.jpeg" alt="name" class="home-about-galery__item__img">
                <p class="home-about-galery__item__name">Nombre del proyecto social como entrada</p>
              </a>
            </div>
          </div>
        </div>

        <div class="home-about-values">
          <h3 class="text-subtitle-2">Peru Private Tours</h3>
          <p class="home-about-values__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="#" class="home-about-values__link">Ver más</a>
        </div>
        <div class="small-12 grid-x grid-margin-x home-about-values-item">
          <h3 class="cell text-subtitle-2">¿Que nos hace distinto?</h3>
          <div class="small-12 medium-6 large-4 home-about-values-item__val">
            <img src="/img/p.png" alt="planta" class="home-about-values-item__val__i">
            <a href="#" class="home-about-values-item__val__text">esse cillum dolore eu fugiat nulla pariatu</a>
          </div>
          <div class="small-12 medium-6 large-4 home-about-values-item__val">
            <img src="/img/p.png" alt="planta" class="home-about-values-item__val__i">
            <a href="#" class="home-about-values-item__val__text">esse cillum dolore eu fugiat nulla pariatu</a>
          </div>
          <div class="small-12 medium-6 large-4 home-about-values-item__val">
            <img src="/img/p.png" alt="planta" class="home-about-values-item__val__i">
            <a href="#" class="home-about-values-item__val__text">esse cillum dolore eu fugiat nulla pariatu</a>
          </div>
          <div class="small-12 medium-6 large-4 home-about-values-item__val">
            <img src="/img/p.png" alt="planta" class="home-about-values-item__val__i">
            <a href="#" class="home-about-values-item__val__text">esse cillum dolore eu fugiat nulla pariatu</a>
          </div>
          <div class="small-12 medium-6 large-4 home-about-values-item__val">
            <img src="/img/p.png" alt="planta" class="home-about-values-item__val__i">
            <a href="#" class="home-about-values-item__val__text">esse cillum dolore eu fugiat nulla pariatu</a>
          </div>
          <div class="small-12 medium-6 large-4 home-about-values-item__val">
            <img src="/img/p.png" alt="planta" class="home-about-values-item__val__i">
            <a href="#" class="home-about-values-item__val__text">esse cillum dolore eu fugiat nulla pariatu</a>
          </div>
        </div>

        <div class="cell small-12 grid-x grid-margin-x home-paque-result">
          <h3 class="cell text-subtitle-2">Paquetes mas solicitados</h3>
          <div class="cell small-12 medium-6 large-4">
            <div class="product-card">
              <div class="product-card__header">
                <img src="/img/1.jpg" alt="name" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ 120.00</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">Cusco Clasico (4 dias/3 noches)</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                    <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-6 large-4">
            <div class="product-card">
              <div class="product-card__header">
                <img src="/img/1.jpg" alt="name" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ 120.00</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">Cusco Clasico (4 dias/3 noches)</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                    <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-6 large-4">
            <div class="product-card">
              <div class="product-card__header">
                <img src="/img/2.jpg" alt="name" class="product-card__header__img">
                <div class="product-card__header__tags">
                  <span class="product-card__header__tags__l">$ 120.00</span>
                  <a href="#" class="product-card__header__tags__r">Reservar</a>
                </div>
              </div>
              <h3 class="product-card__title">Camino inka clasico (4 dias/3 noches)</h3>
              <div class="product-card__body">
                <div class="product-card__body__content">
                  <ul class="product-card__body__content__resume">
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                    </li>
                    <li class="product-card__body__content__resume__item">
                      <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                    </li>
                  </ul>
                </div>
                <div class="product-card__body__detail">
                  <div class="product-card__body__detail__btns">
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                    <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                  </div>
                  <div class="product-card__body__detail__info">
                    <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                    <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                    <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                    <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                  </div>
                  <div class="product-card__body__detail__action">
                    <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- fin de contenido de la pagina -->

    <!-- Modal-->
    <div class="reveal" id="datosModal1" data-reveal>
      <form class="grid-x grid-margin-x">
        <div class="cell small-12">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">E-mail:</label>
            <input type="email" name="email" class="simple-form" placeholder="E-mail">
          </div>
        </div>
        <div class="cell small-12">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Password:</label>
            <input type="password" name="email" class="simple-form" placeholder="E-mail">
          </div>
        </div>
        <div class="cell small-12">
          <div class="simple-form-2">
            <label for="formulario" class="simple-form-2__lbl">Nacionalidad:</label>
            <select>
              <option value="husker">España</option>
              <option value="starbuck">Alemania</option>
              <option value="hotdog">Francia</option>
              <option value="apollo">Argentina</option>
            </select>
          </div>
        </div>
        <div class="cell small-12 centrar">
          <button type="button" name="button" class="home-armar-paquete__btn" data-open="datosModal1">
            Ingresar
          </button>
        </div>
      </form>

      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- fin de modal -->

    <!-- Modal para login user-->
    <div class="reveal" id="loginModal1" data-reveal>
      <div class="grid-x grid-x-margin align-center">
        <form class="cell small-12 large-8 grid-x grid-margin-x login-form" method="post">
          <div class="cell grid-x grid-margin-x align-center">
            <img src="/img/logo.png" alt="ppt" class="login-form__logo">
            <p class="cell login-form__p">Bienvenido al sistema de armado de paquetes turisticos PPT</p>
          </div>
          <div class="cell small-12">
            <div class="primary-form">
              <i class="fa fa-envelope primary-form__icon" aria-hidden="true"></i>
              <input type="email" name="name" class="primary-form__input" placeholder="E-mail">
            </div>
          </div>
          <div class="cell small-12">
            <div class="primary-form">
              <i class="fa fa-unlock-alt primary-form__icon" aria-hidden="true"></i>
              <input type="password" name="name" class="primary-form__input" placeholder="password">
            </div>
          </div>
          <div class="cell small-12 centrar">
            <button type="button" name="button" class="home-armar-paquete__btn" data-open="datosModal1">
              Ingresar
            </button>
          </div>
          <a class="cell login-form__f">¿olvidaste la constraseña?</a>
          <a class="cell login-form__r">Registrar una cuenta nueva</a>
        </form>
      </div>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- FIN Modal para login user-->
    <footer>
      <div class="footer">
        <div class="footer-services">
          <h3 class="footer-services__title">Nuestos articulos mas populares:</h3>
          <ul class="footer-services__ul">
            <li class="footer-services__ul__li">
              <a href="#" class="footer-services__ul__li__a">Cusco Clasico (4 dias / 3 noches)</a>
            </li>
            <li class="footer-services__ul__li">
              <a href="#" class="footer-services__ul__li__a">Camino inka (2 dia)</a>
            </li>
            <li class="footer-services__ul__li">
              <a href="#" class="footer-services__ul__li__a">Laguna Salcantay (3 dias/2noches)</a>
            </li>
            <li class="footer-services__ul__li">
              <a href="#" class="footer-services__ul__li__a">Camino inka (2 dia)</a>
            </li>
            <li class="footer-services__ul__li">
              <a href="#" class="footer-services__ul__li__a">Laguna Salcantay (3 dias/2noches)</a>
            </li>
            <li class="footer-services__ul__li">
              <a href="#" class="footer-services__ul__li__a">Cusco Clasico (4 dias / 3 noches)</a>
            </li>
            <li class="footer-services__ul__li">
              <a href="#" class="footer-services__ul__li__a">Camino inka (2 dia)</a>
            </li>
          </ul>
        </div>
        <div class="main-footer">
          <div class="main-footer__rs">
            <a href="#" class="main-footer__rs__item">Facebook</a>
            <a href="#" class="main-footer__rs__item">Instagram</a>
            <a href="#" class="main-footer__rs__item">Tripavisor</a>
            <a href="#" class="main-footer__rs__item">Youtube</a>
          </div>
          <div class="main-footer__call">
            <i class="fa fa-phone-square fa-3x main-footer__call__icon" aria-hidden="true"></i>
            <p class="main-footer__call__item">Whatsapp: +51 25874512</p>
            <p class="main-footer__call__item">Whatsapp: +51 258124412</p>
            <p class="main-footer__call__item">Email: peruprivatetours@gmail.com</p>
          </div>
          <div class="main-footer__marca">
            <a href="#" class="main-footer__marca__link">Peru Private Tours</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/foundation.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/scrips.js"></script>
</html>
