.mov-header-menu {
  position: fixed;
  width: 100%;
}

.mov-header-menu-disable {
  display: none;
}

.mov-menu__ul {
  position: absolute;
  top: 55px;
  width: 100%;
  list-style: none;
  margin: 0px;
  background: color(fondo1);
  &__li {
    padding: {
      left: 0.5em;
      right: 0.5em;
      top: 1em;
      bottom: 1em;
    };
    //box-shadow: 1px 1px 1px 0px rgba(199,197,199,1);
    &__a {
      display: flex;
      align-items: center;
      color: color(ocho);
      &:hover {
        color: color(cuatro);
      }
      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0px;
        margin-right: 0.5em;
        width: 30px;
        height: 30px;
        border: solid;
        border-radius: 50%;
      }
    }
  }
}
