<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="ei3LI-u5d-yvQhEAj85RpRyYJAnDlfV-6ItMtPruDbE" />
  <title>{% block title %}{% endblock title %}</title>
  <meta name="description" content="{% block description %} {% endblock description %}">
  <meta property="og:title" content="{% block title_rs %} {% endblock title_rs %}">
  <meta property="og:description" content="{% block description_rs %} {% endblock description_rs %}">
  <meta property="og:url" content="{% block url_rs %} {% endblock url_rs %}">
  <meta property="og:image" content="{% block image_rs %} {% endblock image_rs %}">
  <meta property="og:image:width" content="630">
  <meta property="og:image:height" content="320">
  <meta name="keywords" content="{% block tags %} {% endblock tags %}">
  <link rel="alternate" hreflang="es"/>
  {% block css %}{% endblock css %}
</head>
<body>

  {% block content %}
  {% endblock content %}

  {% block js %}{% endblock js %}
</body>
</html>
