.search-form__btn {
  background: color(dos);
  padding: {
    top: 0.7em;
    bottom: 0.65em;
    left: 1.5em;
    right: 1.5em;
  }
  color: color(blanco);
  &:hover {
    cursor: pointer;
    background: color(uno);
  }
}
