.color-primero{
  color: color(uno);
}

.color-segundo {
  color: color(dos);
}

.color-tercero{
  color: color(tres);
}

.color-cuarto {
  color: color(cuatro);
}

.color-quinto{
  color: color(cinco);
}

.color-sexto {
  color: color(seis);
}

.color-septimo{
  color: color(siete);
}

.color-ocatavo {
  color: color(ocho);
}

.background-primero {
  background: color(uno);
}
.background-segundo {
  background: color(dos);
}
.background-tercero {
  background: color(tres);
}
.background-cuarto {
  background: color(cuatro);
}

.background-quinto {
  background: color(cinco);
}

.background-f {
  background: #0d47a1;
}
.background-i {
  background: #d81b60;
}
.background-y {
  background: #bf360c;
}
.background-t {
  background: #43a047;
}

.change-backgroud {
  background: color(dos);
}
