.body {
  background: color(fondo2);
}

.centrar{
  text-align: center;
}

.text-subtitle {
  font-family: $font-fam-tercero;
  text-align: center;
  font-size: $font-siz-mov-h2;
  padding: 0.3em;
  font-weight: bold;
  color: color(cuatro);
  @include desde_hasta(600px,1024px){
    font-size: $font-siz-mov-h1;
    padding: 0.5em;
  };
  @include desde(1024px){
    height: 60px;
  };
}

.text-subtitle-2 {
  margin-left: 1em;
  font-family: $font-fam-tercero;
  text-align: center;
  font-size: 1.5em;
  padding: 0.3em;
  font-weight: bold;
  color: color(cuatro);
}

.label-input {
  background: color(dos);
  color: color(blanco);
  padding: {
    left: 5px;
    right: 5px;
    top: 2px;
    bottom: 2px;
  };
  border-radius: 3px;
  font-family: $font-fam-primero;
}

.primary-subtitle {
  font-size: $font-siz-mov-h2;
  text-align: center;
  font-family: $font-fam-tercero;
  color: color(gris);
  margin-bottom: 1em;
  @include desde_hasta(640px,1024px){
    font-size: $font-siz-mov-h1;
  };
  @include desde(1000px){
    font-size: $font-siz-h2;
  };
}

.text-date {
  padding: 1em;
  text-align: center;
  font-family: $font-fam-tercero;
}

.blog-text {
  font-family: $font-fam-primero;
}

.primary-text {
  font-family: $font-fam-primero;
}

.secondary-text {
  font-family: $font-fam-tercero;
}

.text-lbl {
  font-family: $font-fam-tercero;
}
