.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  @include desde(1024px){
    padding: {
      bottom: 2em;
      left: 10em;
      right: 10em;
    };
  };
  &__input {
    margin: 0px;
  }
}

.search__input__1 {
  margin: 0px;
  font-family: $font-fam-segundo;
  height: 30px;
}

.form-banner {
  padding: 1em;
  &__input {
    height: 30px;
    font-family: $font-fam-tercero;
  }
}

.simple-form {
  background: color(fondo4);
  font-family: $font-fam-primero;
}

.simple-form-2 {
  font-family: $font-fam-primero;
  &__lbl {
    font-family: $font-fam-tercero;
    color: color(gris);
  }
}

.primary-form {
  position: relative;
  &__icon{
    position: absolute;
    top: 2px;
    left: 0px;
    font-size: 1.3em;
    height: 36px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: color(negro-suave);
    border-right: 3px solid;
    border-color: color(fondo3);
  }
  &__input {
    background: color(fondo4);
    font-family: $font-fam-primero;
    padding-left: 45px;
  }
}

.secondary-form {
  font-family: $font-fam-primero;
  width: 100%;
  &__lbl {
    font-family: $font-fam-tercero;
  }
  &__input {
    background: color(fondo4);
    padding-left: 10px;
    border-radius: 5px;
    &:focus {
      border-color: color(dos);
    }
  }
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  &__logo {
    width: 150px;
    height: 90px;
  }
  &__p {
    text-align: center;
    font-size: 14px;
    font-family: $font-fam-segundo;
    color: color(dos);
    font-weight: bold;
  }
  &__f {
    text-align: center;
    margin: 1em;
    font-size: 12px;
    font-family: $font-fam-tercero;
    color: color(sub);
    &:hover {
      color: color(dos);
    }
  }
  &__r {
    text-align: center;
    margin: 1em;
    font-size: 12px;
    font-family: $font-fam-tercero;
    color: color(tres);
    &:hover {
      color: color(sub);
    }
  }
}
