<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Servicios</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/scrips.js"></script>
  </head>
  <body class="body" id="body">
    <header>
      <div class="main-mov-header">
        <div id="togle-mov-icon" class="mov-header">
          <i class="fa fa-bars mov-header__icon" aria-hidden="true"></i>
          <a href="#"><img class="mov-header__logo" src="/img/logo_mov.png" alt=""></a>
          <a href="#" class="mov-header__link">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </div>
        <div id="togle-mov-menu-ul" class="mov-header-menu-disable">
          <ul class="mov-menu__ul">
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-blind mov-menu__ul__li__a__icon color-sexto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Camino Inka</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-male mov-menu__ul__li__a__icon color-tercero" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Caminatas Alternativas</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-street-view mov-menu__ul__li__a__icon color-septimo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Tours Clasicos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-train mov-menu__ul__li__a__icon color-cuarto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Paquetes Turisticos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-question-circle mov-menu__ul__li__a__icon color-quinto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Preguntas Frecuentes</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-envelope mov-menu__ul__li__a__icon color-segundo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Contacto</span>
              </a>
            </li>
            <div class="mov-menu__rs">
              <i class="fa fa-facebook-official mov-menu__rs__icon background-f" aria-hidden="true"></i>
              <i class="fa fa-instagram mov-menu__rs__icon background-i" aria-hidden="true"></i>
              <i class="fa fa-tripadvisor mov-menu__rs__icon background-t" aria-hidden="true"></i>
              <i class="fa fa-youtube-square mov-menu__rs__icon background-y" aria-hidden="true"></i>
            </div>
          </ul>
        </div>
      </div>
      <div class="main-header" id="main-header">
        <div class="main-header__rs">

        </div>
        <div class="main-header__menu">
          <a href="#" class="main-header__menu__logo">
            <img src="/img/logo_mov2.png" alt="Private-tours-peru" class="main-header__menu__logo__img">
            <span class="main-header__menu__logo__name">Peru Private Tours</span>
          </a>
          <ul class="main-header__menu__ul">
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Caminatas Alternativas</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Tours Clasicos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Paquetes Turisticos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Preguntas Frecuentes</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Contácto</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- inicio de banner -->
    <div class="banner-detail">
      <img src="/img/2.jpg" alt="name" class="banner-detail__img">
      <div class="banner-detail__title">
        <h1 class="banner-detail__title__name">Pasos para reservar tren a machupichu. Pasos para reservar tren a machupichu.</h1>
      </div>
    </div>
    <!-- fin de banner -->

    <p class="text-date">12 de enero del 2017</p>
      <div class="grid-container">
        <div class="grid-x grid-margin-x aling-center service-ps">
            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
              <li class="tabs-title service-ps__tab is-active"><a href="#panel1c" aria-selected="true"><span class="service-ps__tab__a">Resumen</span></a></li>
              <li class="tabs-title service-ps__tab"><a href="#panel2c"><span class="service-ps__tab__a">Detalle</a></span></li>
              <li class="tabs-title service-ps__tab"><a href="#panel3c"><span class="service-ps__tab__a">Incluye</a></span></li>
              <li class="tabs-title service-ps__tab"><a href="#panel4c"><span class="service-ps__tab__a">Intinerario</a></span></li>
            </ul>

            <div class="tabs-content" data-tabs-content="collapsing-tabs">
              <div class="tabs-panel is-active" id="panel1c">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="tabs-panel" id="panel2c">
                <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
              </div>
              <div class="tabs-panel" id="panel3c">
                <img class="thumbnail" src="assets/img/generic/rectangle-3.jpg">
              </div>
              <div class="tabs-panel" id="panel4c">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
          <h3 class="cell subtitle-text">Remember that when buying a tour or package in PPT you contribute with our social projects:</h3>
          <div class="cell small-4 large-3 home-about-galery__item">
            <a href="#" class="home-about-galery__item__link">
              <img src="/img/5.jpeg" alt="name" class="home-about-galery__item__img">
              <p class="home-about-galery__item__name">Nombre del proyecto social como entrada</p>
            </a>
          </div>
          <div class="cell small-4 large-3 home-about-galery__item">
            <a href="#" class="home-about-galery__item__link">
              <img src="/img/6.jpeg" alt="name" class="home-about-galery__item__img">
              <p class="home-about-galery__item__name">Nombre del proyecto</p>
            </a>
          </div>
          <div class="cell small-4 large-3 home-about-galery__item">
            <a href="#" class="home-about-galery__item__link">
              <img src="/img/7.jpeg" alt="name" class="home-about-galery__item__img">
              <p class="home-about-galery__item__name">Nombre del proyecto social</p>
            </a>
          </div>
        </div>
      </div>

    <footer>
      <div class="main-footer">
        <div class="main-footer__rs">
          <a href="#" class="main-footer__rs__item">Facebook</a>
          <a href="#" class="main-footer__rs__item">Instagram</a>
          <a href="#" class="main-footer__rs__item">Tripavisor</a>
          <a href="#" class="main-footer__rs__item">Youtube</a>
        </div>
        <div class="main-footer__call">
          <i class="fa fa-phone-square fa-3x main-footer__call__icon" aria-hidden="true"></i>
          <p class="main-footer__call__item">Whatsapp: +51 25874512</p>
          <p class="main-footer__call__item">Whatsapp: +51 258124412</p>
          <p class="main-footer__call__item">Email: peruprivatetours@gmail.com</p>
        </div>
        <div class="main-footer__marca">
          <a href="#" class="main-footer__marca__link">Peru Private Tours</a>
        </div>
      </div>
    </footer>
  </body>
</html>
