<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript" src="/js/scrips.js"></script>
  </head>
  <body class="body" id="body">
    <header>
      <div class="main-mov-header">
        <div id="togle-mov-icon" class="mov-header">
          <i class="fa fa-bars mov-header__icon" aria-hidden="true"></i>
          <a href="#"><img class="mov-header__logo" src="/img/logo_mov.png" alt=""></a>
          <a href="#" class="mov-header__link">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </div>
        <div id="togle-mov-menu-ul" class="mov-header-menu-disable">
          <ul class="mov-menu__ul">
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-blind mov-menu__ul__li__a__icon color-sexto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Camino Inka</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-male mov-menu__ul__li__a__icon color-tercero" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Caminatas Alternativas</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-street-view mov-menu__ul__li__a__icon color-septimo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Tours Clasicos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-train mov-menu__ul__li__a__icon color-cuarto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Paquetes Turisticos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-question-circle mov-menu__ul__li__a__icon color-quinto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Preguntas Frecuentes</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-envelope mov-menu__ul__li__a__icon color-segundo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Contacto</span>
              </a>
            </li>
            <div class="mov-menu__rs">
              <i class="fa fa-facebook-official mov-menu__rs__icon background-f" aria-hidden="true"></i>
              <i class="fa fa-instagram mov-menu__rs__icon background-i" aria-hidden="true"></i>
              <i class="fa fa-tripadvisor mov-menu__rs__icon background-t" aria-hidden="true"></i>
              <i class="fa fa-youtube-square mov-menu__rs__icon background-y" aria-hidden="true"></i>
            </div>
          </ul>
        </div>
      </div>
      <div class="main-header" id="main-header">
        <div class="main-header__rs">

        </div>
        <div class="main-header__menu">
          <a href="#" class="main-header__menu__logo">
            <img src="/img/logo_mov2.png" alt="Private-tours-peru" class="main-header__menu__logo__img">
            <span class="main-header__menu__logo__name">Peru Private Tours</span>
          </a>
          <ul class="main-header__menu__ul">
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Caminatas Alternativas</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Tours Clasicos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Paquetes Turisticos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Preguntas Frecuentes</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Contácto</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- inicio de banner -->
    <div class="banner-list">
      <img src="/img/fondo1.jpg" alt="fondo" class="banner-list__img">
      <div class="banner-list__alert">
        <p class="banner-list__alert__text">
          Recuerda que tambien pudes armar tu propio paquete, elegir tus horarios, dias y lugares que te gustari visitar.
        </p>
        <a href="#" class="banner-list__alert__link">Armar paquete</a>
      </div>
      <div class="banner-list__search">
        <form class="banner-list__search__form" action="#" method="get">
          <input type="text" class="search__input__1" placeholder="Buscar paquete ...">
          <button type="submit" name="button" class="search__btn__1">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- fin de banner -->

    <div class="grid-container">
      <div class="grid-x grid-margin-x align-center service-list">
        <h2 class="cell primary-subtitle">Hemos encontrado estas aventuras para ti</h2>
        <div class="cell small-12 medium-6 large-4">
          <div class="product-card">
            <div class="product-card__header">
              <img src="/img/12.jpeg" alt="name" class="product-card__header__img">
              <div class="product-card__header__tags">
                <span class="product-card__header__tags__l">$ 120.00</span>
                <a href="#" class="product-card__header__tags__r">Reservar</a>
              </div>
            </div>
            <h3 class="product-card__title">Caminata Cusco Clasico (4 dias/3 noches)</h3>
            <div class="product-card__body">
              <div class="product-card__body__content">
                <ul class="product-card__body__content__resume">
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                  </li>
                </ul>
              </div>
              <div class="product-card__body__detail">
                <div class="product-card__body__detail__btns">
                  <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                  <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                </div>
                <div class="product-card__body__detail__info">
                  <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                  <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                  <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                  <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                </div>
                <div class="product-card__body__detail__action">
                  <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-4">
          <div class="product-card">
            <div class="product-card__header">
              <img src="/img/10.jpeg" alt="name" class="product-card__header__img">
              <div class="product-card__header__tags">
                <span class="product-card__header__tags__l">$ 120.00</span>
                <a href="#" class="product-card__header__tags__r">Reservar</a>
              </div>
            </div>
            <h3 class="product-card__title">Caminata maras marauy 2 dias</h3>
            <div class="product-card__body">
              <div class="product-card__body__content">
                <ul class="product-card__body__content__resume">
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Caminata por 8 horas</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Excursion a valle sagrado</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">Visita catedral</a>
                  </li>
                  <li class="product-card__body__content__resume__item">
                    <a href="#" class="product-card__body__content__resume__item__a">muso del inka</a>
                  </li>
                </ul>
              </div>
              <div class="product-card__body__detail">
                <div class="product-card__body__detail__btns">
                  <button type="button" name="button" class="product-card__body__detail__btns__btn background-f">Privado</button>
                  <button type="button" name="button" class="product-card__body__detail__btns__btn background-t">Compartido</button>
                </div>
                <div class="product-card__body__detail__info">
                  <p class="product-card__body__detail__info__item">Hora inicio: 12:30 pm</p>
                  <p class="product-card__body__detail__info__item">Hora fin: 16:30 pm</p>
                  <p class="product-card__body__detail__info__item">Grado de dificultad: Facil</p>
                  <p class="product-card__body__detail__info__item">Altura maxima: 3850 msnm</p>
                </div>
                <div class="product-card__body__detail__action">
                  <a href="#" class="product-card__body__detail__action__btn">Ver más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-x grid-margin-x align-center service-ps">
        <h2 class="cell primary-subtitle">Recuerda que con cada servicios que solicitas estas ayudando con nuestros proyectos sociales.</h2>
        <div class="cell small-12 medium-6 large-4">
          <div class="blog-card">
            <img src="/img/6.jpeg" alt="name" class="blog-card__img">
            <a href="#" class="blog-card__name">Nombre del proyecto social</a>
            <p class="blog-card__text">
              Real Spaces is a Powerful WordPress Theme designed & developed for Real Estate, Estate Agents Websites and comes handy for Business or Corporate Websites. Features added
            </p>
          </div>
        </div>

        <div class="cell small-12 medium-6 large-4">
          <div class="blog-card">
            <img src="/img/7.jpeg" alt="name" class="blog-card__img">
            <a href="#" class="blog-card__name">Nombre del proyecto social</a>
            <p class="blog-card__text">
              Real Spaces is a Powerful WordPress Theme designed & developed for Real Estate, Estate Agents Websites and comes handy for Business or Corporate Websites. Features added
            </p>
          </div>
        </div>

        <div class="cell small-12 medium-6 large-4">
          <div class="blog-card">
            <img src="/img/8.jpeg" alt="name" class="blog-card__img">
            <a href="#" class="blog-card__name">Nombre del proyecto social</a>
            <p class="blog-card__text">
              Real Spaces is a Powerful WordPress Theme designed & developed for Real Estate, Estate Agents Websites and comes handy for Business or Corporate Websites. Features added
            </p>
          </div>
        </div>

        <div class="cell small-12 medium-6 large-4">
          <div class="blog-card">
            <img src="/img/9.jpeg" alt="name" class="blog-card__img">
            <a href="#" class="blog-card__name">Nombre del proyecto social</a>
            <p class="blog-card__text">
              Real Spaces is a Powerful WordPress Theme designed & developed for Real Estate, Estate Agents Websites and comes handy for Business or Corporate Websites. Features added
            </p>
          </div>
        </div>

        <div class="cell small-12 medium-6 large-4">
          <div class="blog-card">
            <img src="/img/10.jpeg" alt="name" class="blog-card__img">
            <a href="#" class="blog-card__name">Nombre del proyecto social</a>
            <p class="blog-card__text">
              Real Spaces is a Powerful WordPress Theme designed & developed for Real Estate, Estate Agents Websites and comes handy for Business or Corporate Websites. Features added
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="main-footer">
        <div class="main-footer__rs">
          <a href="#" class="main-footer__rs__item">Facebook</a>
          <a href="#" class="main-footer__rs__item">Instagram</a>
          <a href="#" class="main-footer__rs__item">Tripavisor</a>
          <a href="#" class="main-footer__rs__item">Youtube</a>
        </div>
        <div class="main-footer__call">
          <i class="fa fa-phone-square fa-3x main-footer__call__icon" aria-hidden="true"></i>
          <p class="main-footer__call__item">Whatsapp: +51 25874512</p>
          <p class="main-footer__call__item">Whatsapp: +51 258124412</p>
          <p class="main-footer__call__item">Email: peruprivatetours@gmail.com</p>
        </div>
        <div class="main-footer__marca">
          <a href="#" class="main-footer__marca__link">Peru Private Tours</a>
        </div>
      </div>
    </footer>
  </body>
</html>
