<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript" src="/js/scrips.js"></script>
  </head>
  <body>
    <header>
      <div class="main-mov-header">
        <div id="togle-mov-icon" class="mov-header">
          <i class="fa fa-bars mov-header__icon" aria-hidden="true"></i>
          <a href="#"><img class="mov-header__logo" src="/img/logo_mov.png" alt=""></a>
          <a href="#" class="mov-header__link">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </div>
        <div id="togle-mov-menu-ul" class="mov-header-menu-disable">
          <ul class="mov-menu__ul">
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-blind mov-menu__ul__li__a__icon color-sexto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Camino Inka</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-male mov-menu__ul__li__a__icon color-tercero" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Caminatas Alternativas</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-street-view mov-menu__ul__li__a__icon color-septimo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Tours Clasicos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-train mov-menu__ul__li__a__icon color-cuarto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Paquetes Turisticos</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-question-circle mov-menu__ul__li__a__icon color-quinto" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Preguntas Frecuentes</span>
              </a>
            </li>
            <li class="mov-menu__ul__li">
              <a href="#" class="mov-menu__ul__li__a">
                <i class="fa fa-envelope mov-menu__ul__li__a__icon color-segundo" aria-hidden="true"></i>
                <span class="mov-menu__ul__li__a__text">Contacto</span>
              </a>
            </li>
            <div class="mov-menu__rs">
              <i class="fa fa-facebook-official mov-menu__rs__icon background-f" aria-hidden="true"></i>
              <i class="fa fa-instagram mov-menu__rs__icon background-i" aria-hidden="true"></i>
              <i class="fa fa-tripadvisor mov-menu__rs__icon background-t" aria-hidden="true"></i>
              <i class="fa fa-youtube-square mov-menu__rs__icon background-y" aria-hidden="true"></i>
            </div>
          </ul>
        </div>
      </div>
      <div class="main-header">
        <div class="main-header__rs">

        </div>
        <div class="main-header__menu">
          <a href="#" class="main-header__menu__logo">
            <img src="/img/logo_mov2.png" alt="Private-tours-peru" class="main-header__menu__logo__img">
            <span class="main-header__menu__logo__name">Peru Private Tour</span>
          </a>
          <ul class="main-header__menu__ul">
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Caminatas Alternativas</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Tours Clasicos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Camino Inka</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Paquetes Turisticos</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Preguntas Frecuentes</a>
            </li>
            <li class="main-header__menu__ul__li">
              <a href="#" class="main-header__menu__ul__li__a">Contácto</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
